*{
  margin: 0;
  padding: 0;
  
}
body{
  background: #b2cbfa46;
}
header{
  height: 50px;
  padding: 10px;
  display: flex;
  background: #6f99e0;
  justify-content: space-between;
  font-family: 'poppins',sans-serif;
  border-bottom: 0.1px solid #b2cbfa46;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

}
header .left-header{
  width: 40%;
  padding: 10px;
  
}
header .left-header h4{
  font-size: 25px;
  font-weight: 800;
  color: #031430;
}

header .right-header{
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
header .right-header small{
  font-family: 'loto',sans-serif;
  font-weight: 600;
  color: #001740;
  cursor: pointer;
  font-size: 16px;
}
/* intro */

.intro{
    padding: 40px 40px 80px 40px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
}
.intro .left-intro{
  width: 40%;
  padding: 80px;
}
.intro .left-intro p{
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #080705;
}

.intro .left-intro h2{
  color: #7899D4;
  font-size: 40px;
  font-family: sans-serif;
}

.intro .left-intro small{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #080705;
}

.intro .left-intro .media{
  padding: 10px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

.intro .right-intro{
  width: 50%;
}
.intro .right-intro img{
  width: 80%;
  height: 500px;
  border-radius: 20px;
}




/* skills */
.skills-container{
    padding: 40px 40px 80px 40px;
    background: white;
}
.skills-container h2{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}
.skills-container .content{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
}

/* contact */
.skills-container .content #icon{
  width: 40px;
  height: 40px;
}
.contact{
  padding: 40px 40px 0px 40px;
  background: #b2cbfa46;
}
.contact #img{
  width: 30px;
  height: 30px;
}
.contact h4{
  font-size: 30px;
  text-align: center;
  font-family: 'poppins',sans-serif;
  padding: 40px;
}
.contact .location{
  display: flex;
  width: 15%;
  justify-content: space-between;
  height: 40px;

}
.contact .phone{
  display: flex;
  height: 40px;
  display: flex;
 
}
.contact .email{
  display: flex;
}

.copy{
  margin: 20px 0px 0px 0px;
  padding: 10px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
}
.copy p{
  color: #6f99e0;
}



/* responsive */

@media  screen and (max-width:760px) {
   header{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
   }
   header .left-header{
    width: 30%;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
   }
   header .left-header h4{
    font-size: 12px;
    font-weight: 400;
    color: #031430;
    text-align: center;
    margin: 0px auto;
    align-items: center;
  }

  header .right-header{
    width: 10%;
    display: flex; 
    justify-content: space-between;
  }
  header .right-header small{
    font-family: 'loto',sans-serif;
    font-weight: 300;
    color: #001740;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
  }

  .intro{
    padding: 40px 30px 80px 20px;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
}
.intro .left-intro{
  width: 100%;
  padding: 0px;
}
.intro .left-intro p{
  font-family: 'poppins',sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #080705;
}
.intro .left-intro h2{
  color: #7899D4;
  font-size: 16px;
  font-family: sans-serif;
}
.intro .left-intro small{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #080705;
}
.intro .right-intro{
  width: 100%;
}
.intro .right-intro img{
  width: 99%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  align-items: center;
}

.skills-container{
  width: 100%;
  padding: 40px  0px 80px 0px;
    background: white;
}
.skills-container h2{
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
}
.skills-container .content{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 10px;
}

.skills-container .content #icon{
  width: 30px;
  height: 30px;
}


.contact{
  padding: 40px 0px 0px 20px;
  width: 95.5%;
}

.contact h4{
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.contact #img{
  width: 15px;
  height: 15px;
}
.contact .location{
  display: flex;
  width: 31%;
}

.contact .phone{
  display: flex;
  width: 60%;
}

.contact .email{
  display: flex;
  width: 100%;
}

.copy{
  height: 30px;
  padding: 2px;
  width: 99%;
}
.copy p{
  font-size: 14px;
}
}